.copyright{
    height: 50px;
    background-color: rgba(0, 0, 0, 0.82);
    color: rgb(177, 177, 177) !important;
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;

}